<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express Practice Lab</title>
</head>
<body>
    <h1>Favorite Foods</h1>
    <ul>
        <% favoritefoods.forEach(function(food) { %>
            <li>
                <%= food.favoritefood %>
                    -
                <%= food.healthy ? 'healthy' : 'unhealthy' %>
            </li>
        <% }); %>
    </ul>
</body>
</html>